<launch>

  <!-- <param name="red_box_path" type="str" value="$(find ur5v9)/urdf/red_box.urdf"/>

  <arg name="limited" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false" />
  <arg name="sim" default="true" /> -->

    <!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the
controllers -->
    <include file = "$(find ur5v9)/launch/ur5_urdf.launch" /> <!-- Launch Moveit Move Group Node -->
    <include file = "$(find ur5v9_moveit)/launch/move_group.launch" />
 <!-- Run Rviz and load the default configuration to see the state of the move_group node -->
    <arg name="use_rviz" default="true" />
    <include file="$(find ur5v9_moveit)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find ur5v9_moveit)/launch/moveit.rviz"/> </include>

    <node name="red_box" pkg="gazebo_ros" type="spawn_model" args="-file $(find ur5v9)/urdf/red_box.urdf -urdf -model red_box -y 0.0 -x -0.8 -z 0.3" />

    <node name="bin" pkg="gazebo_ros" type="spawn_model" args="-file $(find ur5v9)/urdf/bin.urdf -urdf -model bin -y 0.8 -x -0.5 -z 0.05" />

</launch>